## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
! jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [2]:
! pip install gmaps

Requirement already satisfied: gmaps in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (0.9.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (7.5.1)
Requirement already satisfied: ipython>=5.3.0 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (7.19.0)
Requirement already satisfied: six in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (1.15.0)
Requirement already satisfied: geojson>=2.0.0 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (5.0.5)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.8)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (50.3.1.post20201107)
Requirement already satisfied: decorator in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (4.4.2)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.8)
Requirement already satisfied: pygments in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (2.7.2)
Requirement already satisfied: pickleshare in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: jedi>=0.10 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.17.1)
Requirement already satisfied: backcall in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: ipython-genutils in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-core in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.3)
Requirement already satisfied: tornado>=4.2 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.4)
Requirement already satisfied: jupyter-client in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.7)
Requirement already satisfied: notebook>=4.4.1 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.1.4)
Requirement already satisfied: wcwidth in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.17.3)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (2.0.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (20.3.0)
Requirement already satisfied: pywin32>=1.0; sys_platform == "win32" in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (227)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: pyzmq>=13 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (19.0.2)
Requirement already satisfied: terminado>=0.8.3 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.9.1)
Requirement already satisfied: Send2Trash in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: prometheus-client in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.0)
Requirement already satisfied: nbconvert in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.7)
Requirement already satisfied: argon2-cffi in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.1.0)
Requirement already satisfied: jinja2 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.2)
Requirement already satisfied: zipp>=0.5 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.4.0)
Requirement already satisfied: pywinpty>=0.5 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.7)
Requirement already satisfied: bleach in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.2.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: testpath in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: defusedxml in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.3)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: cffi>=1.0.0 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.14.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: webencodings in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: packaging in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.4)
Requirement already satisfied: nest-asyncio in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: async-generator in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.10)
Requirement already satisfied: pycparser in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.20)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\rebek\anaconda3\envs\pythondata\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)

In [3]:
! jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nikolskoye,RU,2021-04-11 15:56:16,59.7035,30.7861,50.00,32,0,6.71,clear sky
1,1,Svetlaya,RU,2021-04-11 15:56:17,46.5389,138.3297,41.32,79,100,9.33,overcast clouds
2,2,Haldwani,IN,2021-04-11 15:56:17,29.2167,79.5167,78.22,9,0,7.02,clear sky
3,3,Cururupu,BR,2021-04-11 15:56:17,-1.8283,-44.8683,85.89,63,96,6.96,light rain
4,4,Rikitea,PF,2021-04-11 15:56:18,-23.1203,-134.9692,78.28,75,9,10.71,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
678,678,Harsum,DE,2021-04-11 16:00:15,52.2104,9.9649,42.01,88,100,8.01,moderate rain
679,679,Lakatoro,VU,2021-04-11 16:00:16,-16.0999,167.4164,77.56,86,100,2.77,overcast clouds
680,680,Launceston,AU,2021-04-11 16:00:16,-41.4500,147.1667,46.40,57,40,6.91,scattered clouds
681,681,Cartagena,CO,2021-04-11 16:00:17,10.3997,-75.5144,86.00,74,20,8.05,few clouds
682,682,Millinocket,US,2021-04-11 16:00:17,45.6573,-68.7098,44.60,57,1,5.48,clear sky

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Haldwani,IN,2021-04-11 15:56:17,29.2167,79.5167,78.22,9,0,7.02,clear sky
3,3,Cururupu,BR,2021-04-11 15:56:17,-1.8283,-44.8683,85.89,63,96,6.96,light rain
4,4,Rikitea,PF,2021-04-11 15:56:18,-23.1203,-134.9692,78.28,75,9,10.71,clear sky
8,8,Male,MV,2021-04-11 15:56:19,4.1748,73.5089,86.00,79,20,5.75,few clouds
9,9,Arraial Do Cabo,BR,2021-04-11 15:56:20,-22.9661,-42.0278,87.80,37,0,5.75,clear sky
13,13,Carnarvon,AU,2021-04-11 15:51:59,-24.8667,113.6333,78.80,94,75,16.11,broken clouds
17,17,Georgetown,MY,2021-04-11 15:53:12,5.4112,100.3354,82.00,89,40,2.30,scattered clouds
23,23,Tecoanapa,MX,2021-04-11 15:56:24,16.5167,-98.7500,81.84,58,5,5.03,clear sky
26,26,San Cristobal,VE,2021-04-11 15:56:25,7.7669,-72.2250,84.20,61,40,2.30,scattered clouds
30,30,Mehriz,IR,2021-04-11 15:56:26,31.5917,54.4318,77.00,25,90,18.41,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235 entries, 2 to 681
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   City_ID              235 non-null    int64
 1   City                 235 non-null    object
 2   Country              231 non-null    object
 3   Date                 235 non-null    object
 4   Lat                  235 non-null    float64
 5   Lng                  235 non-null    float64
 6   Max Temp             235 non-null    float64
 7   Humidity             235 non-null    int64
 8   Cloudiness           235 non-null    int64
 9   Wind Speed           235 non-null    float64
 10  Current Description  235 non-null    object
dtypes: float64(4), int64(3), object(4)
memory usage: 22.0+ KB

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Haldwani,IN,2021-04-11 15:56:17,29.2167,79.5167,78.22,9,0,7.02,clear sky
3,3,Cururupu,BR,2021-04-11 15:56:17,-1.8283,-44.8683,85.89,63,96,6.96,light rain
4,4,Rikitea,PF,2021-04-11 15:56:18,-23.1203,-134.9692,78.28,75,9,10.71,clear sky
8,8,Male,MV,2021-04-11 15:56:19,4.1748,73.5089,86.00,79,20,5.75,few clouds
9,9,Arraial Do Cabo,BR,2021-04-11 15:56:20,-22.9661,-42.0278,87.80,37,0,5.75,clear sky
...,...,...,...,...,...,...,...,...,...,...,...
670,670,Jacqueville,CI,2021-04-11 16:00:11,5.2052,-4.4146,87.80,74,40,11.50,scattered clouds
674,674,Aden,YE,2021-04-11 16:00:13,12.7794,45.0367,81.41,77,20,18.32,few clouds
677,677,Champua,IN,2021-04-11 16:00:15,22.0833,85.6667,85.50,35,96,13.51,overcast clouds
679,679,Lakatoro,VU,2021-04-11 16:00:16,-16.0999,167.4164,77.56,86,100,2.77,overcast clouds
681,681,Cartagena,CO,2021-04-11 16:00:17,10.3997,-75.5144,86.00,74,20,8.05,few clouds

In [10]:
clean_preferred_cities_df.count()

City_ID                231
City                   231
Country                231
Date                   231
Lat                    231
Lng                    231
Max Temp               231
Humidity               231
Cloudiness             231
Wind Speed             231
Current Description    231
dtype: int64

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Haldwani,IN,78.22,clear sky,29.2167,79.5167,
3,Cururupu,BR,85.89,light rain,-1.8283,-44.8683,
4,Rikitea,PF,78.28,clear sky,-23.1203,-134.9692,
8,Male,MV,86.00,few clouds,4.1748,73.5089,
9,Arraial Do Cabo,BR,87.80,clear sky,-22.9661,-42.0278,
13,Carnarvon,AU,78.80,broken clouds,-24.8667,113.6333,
17,Georgetown,MY,82.00,scattered clouds,5.4112,100.3354,
23,Tecoanapa,MX,81.84,clear sky,16.5167,-98.7500,
26,San Cristobal,VE,84.20,scattered clouds,7.7669,-72.2250,
30,Mehriz,IR,77.00,overcast clouds,31.5917,54.4318,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
      
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Haldwani,IN,78.22,clear sky,29.2167,79.5167,OYO Premium Nainital Road Haldwani
3,Cururupu,BR,85.89,light rain,-1.8283,-44.8683,Pousada Través'cia
4,Rikitea,PF,78.28,clear sky,-23.1203,-134.9692,Pension Maro'i
8,Male,MV,86.00,few clouds,4.1748,73.5089,Hotel Octave Maldives
9,Arraial Do Cabo,BR,87.80,clear sky,-22.9661,-42.0278,Pousada Porto Praia
13,Carnarvon,AU,78.80,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
17,Georgetown,MY,82.00,scattered clouds,5.4112,100.3354,Cititel Penang
23,Tecoanapa,MX,81.84,clear sky,16.5167,-98.7500,Hotel Manglares
26,San Cristobal,VE,84.20,scattered clouds,7.7669,-72.2250,Posada Villaven C.A.
30,Mehriz,IR,77.00,overcast clouds,31.5917,54.4318,Mehrgard dwelling/سرای مهرگرد

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   231
Country                231
Max Temp               231
Current Description    231
Lat                    231
Lng                    231
Hotel Name             231
dtype: int64

In [15]:
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Haldwani,IN,78.22,clear sky,29.2167,79.5167,OYO Premium Nainital Road Haldwani
3,Cururupu,BR,85.89,light rain,-1.8283,-44.8683,Pousada Través'cia
4,Rikitea,PF,78.28,clear sky,-23.1203,-134.9692,Pension Maro'i
8,Male,MV,86.00,few clouds,4.1748,73.5089,Hotel Octave Maldives
9,Arraial Do Cabo,BR,87.80,clear sky,-22.9661,-42.0278,Pousada Porto Praia
...,...,...,...,...,...,...,...
670,Jacqueville,CI,87.80,scattered clouds,5.2052,-4.4146,Hotel Le Martin Pecheur
674,Aden,YE,81.41,few clouds,12.7794,45.0367,Sama Emirate Hotel
677,Champua,IN,85.50,overcast clouds,22.0833,85.6667,ANSARI COTTAGE
679,Lakatoro,VU,77.56,overcast clouds,-16.0999,167.4164,Lakatoro Palm Lodge
681,Cartagena,CO,86.00,few clouds,10.3997,-75.5144,Hotel Colombia Real - Cartagena

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))