## Deliverable 3. Create a Travel Itinerary Map.

In [22]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [23]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Haldwani,IN,78.22,clear sky,29.2167,79.5167,OYO Premium Nainital Road Haldwani
1,3,Cururupu,BR,85.89,light rain,-1.8283,-44.8683,Pousada Través'cia
2,4,Rikitea,PF,78.28,clear sky,-23.1203,-134.9692,Pension Maro'i
3,8,Male,MV,86.00,few clouds,4.1748,73.5089,Hotel Octave Maldives
4,9,Arraial Do Cabo,BR,87.80,clear sky,-22.9661,-42.0278,Pousada Porto Praia

In [24]:
clean_vacation_df = vacation_df.dropna()
clean_vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Haldwani,IN,78.22,clear sky,29.2167,79.5167,OYO Premium Nainital Road Haldwani
1,3,Cururupu,BR,85.89,light rain,-1.8283,-44.8683,Pousada Través'cia
2,4,Rikitea,PF,78.28,clear sky,-23.1203,-134.9692,Pension Maro'i
3,8,Male,MV,86.00,few clouds,4.1748,73.5089,Hotel Octave Maldives
4,9,Arraial Do Cabo,BR,87.80,clear sky,-22.9661,-42.0278,Pousada Porto Praia
...,...,...,...,...,...,...,...,...
226,670,Jacqueville,CI,87.80,scattered clouds,5.2052,-4.4146,Hotel Le Martin Pecheur
227,674,Aden,YE,81.41,few clouds,12.7794,45.0367,Sama Emirate Hotel
228,677,Champua,IN,85.50,overcast clouds,22.0833,85.6667,ANSARI COTTAGE
229,679,Lakatoro,VU,77.56,overcast clouds,-16.0999,167.4164,Lakatoro Palm Lodge
230,681,Cartagena,CO,86.00,few clouds,10.3997,-75.5144,Hotel Colombia Real - Cartagena

In [25]:
clean_vacation_df.count()

City_ID                217
City                   217
Country                217
Max Temp               217
Current Description    217
Lat                    217
Lng                    217
Hotel Name             217
dtype: int64

In [26]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_vacation_df[["Lat", "Lng"]]

In [28]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = clean_vacation_df.loc[clean_vacation_df["City"] == "Cozumel"]
vacation_end = clean_vacation_df.loc[clean_vacation_df["City"] == "Cozumel"]
vacation_stop1 = clean_vacation_df.loc[clean_vacation_df["City"] == "Lazaro Cardenas"]
vacation_stop2 = clean_vacation_df.loc[clean_vacation_df["City"] == "Acapulco"] 
vacation_stop3 = clean_vacation_df.loc[clean_vacation_df["City"] == "Tecoanapa"]

In [36]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (20.5083, -86.9458), End: (20.5083, -86.9458)
Stop 1: (17.9583, -102.2), Stop 2: (16.8634, -99.8901), Stop 3: (16.5167, -98.75)

In [48]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='BICYCLING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,551,Cozumel,MX,84.99,broken clouds,20.5083,-86.9458,Cozumel Palace® All Inclusive Resort
1,540,Lazaro Cardenas,MX,81.72,clear sky,17.9583,-102.2000,Hotel Quinta Antigua
2,100,Acapulco,MX,82.40,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
3,23,Tecoanapa,MX,81.84,clear sky,16.5167,-98.7500,Hotel Manglares

In [51]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [52]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))